In [30]:
# Importación de librerias
import pandas as pd
import ast
import gzip
from datetime import datetime
import gzip

In [31]:
# Carga del dataframe con el archivo steam_games.json.gz
df_steam_games = pd.read_json('dataset/steam_games.json.gz',lines=True,compression='gzip')

In [32]:
df_steam_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  float64
 11  id            32133 non-null  float64
 12  developer     28836 non-null  object
dtypes: float64(2), object(11)
memory usage: 11.9+ MB

In [3]:
# Se detalla que el dataframe df_steam_games, contiene filas con todos sus datos NaN
df_steam_games.head()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
1,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
2,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
3,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
4,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None

In [33]:
# Se procede a eliminar todas las filas en donde todos los valores sean NaN y observamos los resultados
df_steam_games = df_steam_games.dropna(how='all')

print('Número de filas por columnas: ', df_steam_games.shape)
df_steam_games.info()
df_steam_games.head()
df_steam_games.shape

Número de filas por columnas:  (32135, 13)
<class 'pandas.core.frame.DataFrame'>
Index: 32135 entries, 88310 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  float64
 11  id            32133 non-null  float64
 12  developer     28836 non-null  object
dtypes: float64(2), object(11)
memory usage: 3.4+ MB

(32135, 13)

In [34]:
# Eliminar los valores nulos en todo el daset
df_games = df_steam_games.dropna(how='all').reset_index(drop=True)
df_steam_games.shape

(32135, 13)

In [35]:
df_steam_games.head(1)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,Kotoshiro

In [36]:
df_steam_games.columns

Index(['publisher', 'genres', 'app_name', 'title', 'url', 'release_date',
       'tags', 'reviews_url', 'specs', 'price', 'early_access', 'id',
       'developer'],
      dtype='object')

In [7]:
# Relacionar la cantidad de valores NaN por cada Etiqueta
df_steam_games.isna().sum()

publisher       8052
genres          3283
app_name           2
title           2050
url                0
release_date    2067
tags             163
reviews_url        2
specs            670
price           1377
early_access       0
id                 2
developer       3299
dtype: int64

In [8]:
# Revisión de valores nulos en las etiquetas del dataset
detalle = {'Etiqueta': [], 'Tipo_datos': [], 'Nulos': []}

for col in df_steam_games.columns:        
    detalle["Etiqueta"].append(col)
    detalle["Tipo_datos"].append(df_steam_games[col].apply(type).unique())        
    detalle["Nulos"].append(df_steam_games[col].isnull().sum())

df_detalle = pd.DataFrame(detalle)
df_detalle

        Etiqueta                                         Tipo_datos  Nulos
0      publisher                [<class 'str'>, <class 'NoneType'>]   8052
1         genres               [<class 'list'>, <class 'NoneType'>]   3283
2       app_name                [<class 'str'>, <class 'NoneType'>]      2
3          title                [<class 'str'>, <class 'NoneType'>]   2050
4            url                                    [<class 'str'>]      0
5   release_date                [<class 'str'>, <class 'NoneType'>]   2067
6           tags               [<class 'list'>, <class 'NoneType'>]    163
7    reviews_url                [<class 'str'>, <class 'NoneType'>]      2
8          specs               [<class 'list'>, <class 'NoneType'>]    670
9          price  [<class 'float'>, <class 'str'>, <class 'NoneT...   1377
10  early_access                                  [<class 'float'>]      0
11            id                                  [<class 'float'>]      2
12     developer                [<class 'str'>, <class 'NoneType'>]   3299

In [9]:
# Conocer el contenio de las etiquetas para determinar tipo de dato

contenido = {'Etiqueta': [], 'Valores': []}
for col in df_steam_games.columns:
    contenido["Etiqueta"].append(col)
    contenido["Valores"].append(df_steam_games[col].iloc[0])

df_contenido = pd.DataFrame(contenido)
print(df_contenido)

        Etiqueta                                            Valores
0      publisher                                          Kotoshiro
1         genres      [Action, Casual, Indie, Simulation, Strategy]
2       app_name                                Lost Summoner Kitty
3          title                                Lost Summoner Kitty
4            url  http://store.steampowered.com/app/761140/Lost_...
5   release_date                                         2018-01-04
6           tags      [Strategy, Action, Indie, Casual, Simulation]
7    reviews_url  http://steamcommunity.com/app/761140/reviews/?...
8          specs                                    [Single-player]
9          price                                               4.99
10  early_access                                                0.0
11            id                                           761140.0
12     developer                                          Kotoshiro

In [10]:
# Se decide confirmar el tipo de valores en la etiqueta price, es imortante tener en claro que contenga valores numéricos por si se requere para futuras consultas

df_steam_games['price'].unique()

array([4.99, 'Free To Play', 'Free to Play', 0.99, 2.99, 3.99, 9.99,
       18.99, 29.99, None, 'Free', 10.99, 1.5899999999999999, 14.99, 1.99,
       59.99, 8.99, 6.99, 7.99, 39.99, 19.99, 7.49, 12.99, 5.99, 2.49,
       15.99, 1.25, 24.99, 17.99, 61.99, 3.49, 11.99, 13.99, 'Free Demo',
       'Play for Free!', 34.99, 74.76, 1.49, 32.99, 99.99, 14.95, 69.99,
       16.99, 79.99, 49.99, 5.0, 44.99, 13.98, 29.96, 119.99, 109.99,
       149.99, 771.71, 'Install Now', 21.99, 89.99,
       'Play WARMACHINE: Tactics Demo', 0.98, 139.92, 4.29, 64.99,
       'Free Mod', 54.99, 74.99, 'Install Theme', 0.89, 'Third-party',
       0.5, 'Play Now', 299.99, 1.29, 3.0, 15.0, 5.49, 23.99, 49.0, 20.99,
       10.93, 1.3900000000000001, 'Free HITMAN™ Holiday Pack', 36.99,
       4.49, 2.0, 4.0, 9.0, 234.99, 1.9500000000000002, 1.5, 199.0, 189.0,
       6.66, 27.99, 10.49, 129.99, 179.0, 26.99, 399.99, 31.99, 399.0,
       20.0, 40.0, 3.33, 199.99, 22.99, 320.0, 38.85, 71.7, 59.95, 995.0,
       27.49, 3.39, 6.0, 19.95, 499.99, 16.06, 4.68, 131.4, 44.98, 202.76,
       1.0, 2.3, 0.9500000000000001, 172.24, 249.99, 2.9699999999999998,
       10.96, 10.0, 30.0, 2.66, 6.48, 19.29, 11.15, 18.9, 2.89,
       'Play the Demo', 99.0, 87.94, 599.0, 8.98, 9.69, 0.49, 9.98, 9.95,
       7.0, 'Starting at $499.00', 'Starting at $449.00', 12.89, 6.49,
       1.87, 42.99, 41.99, 289.99, 'Free to Try', 23.96, 5.65, 12.0,
       13.37, 189.96, 124.99, 'Free Movie', 19.98, 160.91, 'Free to Use'],
      dtype=object)

In [11]:
""" Verifico si en la columna 'price', tiene valores relacionados a free, ya que la idea es adionar una cloumna free_gamers que me indique que si el
    regitro del juego es gratis, lo cual lo vamos a usar para la primera consulta de gamer """

# Crear una copia de la columna 'price' convertida a cadenas de texto
price_str = df_steam_games['price'].astype(str)

# Filtrar los valores de la copia de la columna 'price' que contienen la palabra 'Free' (sin distinción de mayúsculas/minúsculas)
free_prices = price_str[price_str.str.contains('Free', case=False, na=False)]

# Obtener los valores únicos
unique_free_prices = free_prices.unique()

# Mostrar los valores únicos
print(unique_free_prices)

['Free To Play' 'Free to Play' 'Free' 'Free Demo' 'Play for Free!'
 'Free Mod' 'Free HITMAN™ Holiday Pack' 'Free to Try' 'Free Movie'
 'Free to Use']

In [12]:
# De acuerdo a lo anterior, se decide adicionar una nueva columna 'free_gamers' que nos indique si el juego es gratis.

# Crear una nueva columna 'free_gamers' basada en la condición de si 'price' contiene la palabra 'Free'
df_steam_games['free_gamers'] = df_steam_games['price'].astype(str).str.contains('Free', case=False, na=False).astype(int)

# Mostrar las primeras filas del DataFrame para verificar
df_steam_games.head(2)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer,free_gamers
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,Kotoshiro,0
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,0.0,643980.0,Secret Level SRL,1

Como se observa, se confirma que no todo el contenido de la etiqueta prices, no todos sus valores es de tipo numérico, es de tener en cuenta para posibles consultas, se decide reemplazar los valores que no son de tipo float con el valor 0.0 que son: los valores textos y los valores NaN.

In [13]:
# reemplazar estos valores cadena 'Starting at $499.00', 'Starting at $449.00' cambiarlos a su precio numerico minimo
df_steam_games['price'] = df_steam_games['price'].apply(lambda x: 499.00 if isinstance(x, str) and '$499.00' in x.lower() else x)
df_steam_games['price'] = df_steam_games['price'].apply(lambda x: 449.00 if isinstance(x, str) and '$449.00' in x.lower() else x)

In [14]:
# Como se observa, se confirma que no todo el contenido de la etiqueta prices, no todos sus valores es de tipo numérico, es de tener en 
# cuenta para posibles consultas, se decide reemplazar los valores que no son de tipo float con el valor 0.0 que son: los valores textos y los valores NaN.

df_steam_games['price'] = pd.to_numeric(df_steam_games['price'], errors='coerce').fillna(0.0)

df_steam_games['price'].unique()

array([4.9900e+00, 0.0000e+00, 9.9000e-01, 2.9900e+00, 3.9900e+00,
       9.9900e+00, 1.8990e+01, 2.9990e+01, 1.0990e+01, 1.5900e+00,
       1.4990e+01, 1.9900e+00, 5.9990e+01, 8.9900e+00, 6.9900e+00,
       7.9900e+00, 3.9990e+01, 1.9990e+01, 7.4900e+00, 1.2990e+01,
       5.9900e+00, 2.4900e+00, 1.5990e+01, 1.2500e+00, 2.4990e+01,
       1.7990e+01, 6.1990e+01, 3.4900e+00, 1.1990e+01, 1.3990e+01,
       3.4990e+01, 7.4760e+01, 1.4900e+00, 3.2990e+01, 9.9990e+01,
       1.4950e+01, 6.9990e+01, 1.6990e+01, 7.9990e+01, 4.9990e+01,
       5.0000e+00, 4.4990e+01, 1.3980e+01, 2.9960e+01, 1.1999e+02,
       1.0999e+02, 1.4999e+02, 7.7171e+02, 2.1990e+01, 8.9990e+01,
       9.8000e-01, 1.3992e+02, 4.2900e+00, 6.4990e+01, 5.4990e+01,
       7.4990e+01, 8.9000e-01, 5.0000e-01, 2.9999e+02, 1.2900e+00,
       3.0000e+00, 1.5000e+01, 5.4900e+00, 2.3990e+01, 4.9000e+01,
       2.0990e+01, 1.0930e+01, 1.3900e+00, 3.6990e+01, 4.4900e+00,
       2.0000e+00, 4.0000e+00, 9.0000e+00, 2.3499e+02, 1.9500e+00,
       1.5000e+00, 1.9900e+02, 1.8900e+02, 6.6600e+00, 2.7990e+01,
       1.0490e+01, 1.2999e+02, 1.7900e+02, 2.6990e+01, 3.9999e+02,
       3.1990e+01, 3.9900e+02, 2.0000e+01, 4.0000e+01, 3.3300e+00,
       1.9999e+02, 2.2990e+01, 3.2000e+02, 3.8850e+01, 7.1700e+01,
       5.9950e+01, 9.9500e+02, 2.7490e+01, 3.3900e+00, 6.0000e+00,
       1.9950e+01, 4.9999e+02, 1.6060e+01, 4.6800e+00, 1.3140e+02,
       4.4980e+01, 2.0276e+02, 1.0000e+00, 2.3000e+00, 9.5000e-01,
       1.7224e+02, 2.4999e+02, 2.9700e+00, 1.0960e+01, 1.0000e+01,
       3.0000e+01, 2.6600e+00, 6.4800e+00, 1.9290e+01, 1.1150e+01,
       1.8900e+01, 2.8900e+00, 9.9000e+01, 8.7940e+01, 5.9900e+02,
       8.9800e+00, 9.6900e+00, 4.9000e-01, 9.9800e+00, 9.9500e+00,
       7.0000e+00, 4.9900e+02, 4.4900e+02, 1.2890e+01, 6.4900e+00,
       1.8700e+00, 4.2990e+01, 4.1990e+01, 2.8999e+02, 2.3960e+01,
       5.6500e+00, 1.2000e+01, 1.3370e+01, 1.8996e+02, 1.2499e+02,
       1.9980e+01, 1.6091e+02])

In [15]:
df_steam_games['price'].dtype

dtype('float64')

In [16]:
# Revisar que los valores de la columna price sea formato float y concuerden.
df_steam_games.head(3)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer,free_gamers
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,Kotoshiro,0
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",0.00,0.0,643980.0,Secret Level SRL,1
88312,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",0.00,0.0,670290.0,Poolians.com,1

In [17]:
#Reemplazo str que contienen ciertas palabras claves por valor 0
df_steam_games['price'] = df_steam_games['price'].apply(lambda x: 0 if isinstance(x, str) and any(keyword in x.lower() for keyword in ['free', 'play', 'install', 'party']) else x)

In [18]:
#Elimino texto extra, dejando solo precio minimo
df_steam_games['price'] = df_steam_games['price'].apply(lambda x: 449.00 if isinstance(x, str) and '$449.00' in x.lower() else x)

In [19]:
#Elimino texto extra, dejando solo precio maximo
df_steam_games['price'] = df_steam_games['price'].apply(lambda x: 499.00 if isinstance(x, str) and '$499.00' in x.lower() else x)

In [20]:
# Revizar que no tengamos valores inadecuados
df_steam_games["price"].unique()

array([4.9900e+00, 0.0000e+00, 9.9000e-01, 2.9900e+00, 3.9900e+00,
       9.9900e+00, 1.8990e+01, 2.9990e+01, 1.0990e+01, 1.5900e+00,
       1.4990e+01, 1.9900e+00, 5.9990e+01, 8.9900e+00, 6.9900e+00,
       7.9900e+00, 3.9990e+01, 1.9990e+01, 7.4900e+00, 1.2990e+01,
       5.9900e+00, 2.4900e+00, 1.5990e+01, 1.2500e+00, 2.4990e+01,
       1.7990e+01, 6.1990e+01, 3.4900e+00, 1.1990e+01, 1.3990e+01,
       3.4990e+01, 7.4760e+01, 1.4900e+00, 3.2990e+01, 9.9990e+01,
       1.4950e+01, 6.9990e+01, 1.6990e+01, 7.9990e+01, 4.9990e+01,
       5.0000e+00, 4.4990e+01, 1.3980e+01, 2.9960e+01, 1.1999e+02,
       1.0999e+02, 1.4999e+02, 7.7171e+02, 2.1990e+01, 8.9990e+01,
       9.8000e-01, 1.3992e+02, 4.2900e+00, 6.4990e+01, 5.4990e+01,
       7.4990e+01, 8.9000e-01, 5.0000e-01, 2.9999e+02, 1.2900e+00,
       3.0000e+00, 1.5000e+01, 5.4900e+00, 2.3990e+01, 4.9000e+01,
       2.0990e+01, 1.0930e+01, 1.3900e+00, 3.6990e+01, 4.4900e+00,
       2.0000e+00, 4.0000e+00, 9.0000e+00, 2.3499e+02, 1.9500e+00,
       1.5000e+00, 1.9900e+02, 1.8900e+02, 6.6600e+00, 2.7990e+01,
       1.0490e+01, 1.2999e+02, 1.7900e+02, 2.6990e+01, 3.9999e+02,
       3.1990e+01, 3.9900e+02, 2.0000e+01, 4.0000e+01, 3.3300e+00,
       1.9999e+02, 2.2990e+01, 3.2000e+02, 3.8850e+01, 7.1700e+01,
       5.9950e+01, 9.9500e+02, 2.7490e+01, 3.3900e+00, 6.0000e+00,
       1.9950e+01, 4.9999e+02, 1.6060e+01, 4.6800e+00, 1.3140e+02,
       4.4980e+01, 2.0276e+02, 1.0000e+00, 2.3000e+00, 9.5000e-01,
       1.7224e+02, 2.4999e+02, 2.9700e+00, 1.0960e+01, 1.0000e+01,
       3.0000e+01, 2.6600e+00, 6.4800e+00, 1.9290e+01, 1.1150e+01,
       1.8900e+01, 2.8900e+00, 9.9000e+01, 8.7940e+01, 5.9900e+02,
       8.9800e+00, 9.6900e+00, 4.9000e-01, 9.9800e+00, 9.9500e+00,
       7.0000e+00, 4.9900e+02, 4.4900e+02, 1.2890e+01, 6.4900e+00,
       1.8700e+00, 4.2990e+01, 4.1990e+01, 2.8999e+02, 2.3960e+01,
       5.6500e+00, 1.2000e+01, 1.3370e+01, 1.8996e+02, 1.2499e+02,
       1.9980e+01, 1.6091e+02])

In [21]:
# Verificar duplicados
tiene_duplicados = df_steam_games['id'].duplicated().any()
duplicados = df_steam_games[df_steam_games['id'].duplicated()]['id']
print(duplicados)

102883    612880.0
119271         NaN
Name: id, dtype: float64

In [23]:
# Se observa que hay dos duplas que están duplicas con los id=612882 y id=NaN se procede a eliminar duplicados.

filtered_rows = df_steam_games[df_steam_games['id'] == 612880]
#filtered_rows = df_steam_games[df_steam_games['id'].isna()]


# Imprimir todas las filas filtradas
print("Filas donde el valor de la columna 'id' es igual a 612880:")
filtered_rows

Filas donde el valor de la columna 'id' es igual a 612880:

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer,free_gamers
102204,Bethesda Softworks,[Action],Wolfenstein II: The New Colossus,Wolfenstein II: The New Colossus,http://store.steampowered.com/app/612880/,2017-10-26,"[Action, FPS, Gore, Violent, Alternate History...",http://steamcommunity.com/app/612880/reviews/?...,"[Single-player, Steam Achievements, Full contr...",59.99,0.0,612880.0,Machine Games,0
102883,Bethesda Softworks,[Action],Wolfenstein II: The New Colossus,Wolfenstein II: The New Colossus,http://store.steampowered.com/app/612880/Wolfe...,2017-10-26,"[Action, FPS, Gore, Violent, Alternate History...",http://steamcommunity.com/app/612880/reviews/?...,"[Single-player, Steam Achievements, Full contr...",59.99,0.0,612880.0,Machine Games,0

In [69]:
# elimnar el primer registro de las duplas encontradas id=612880 y NaN

# Encuentra el índice de la primera fila duplicada
indice_duplicado = df_steam_games[df_steam_games['id'] == 612880].index[0]

# Crea una máscara booleana para excluir el primer duplicado
mascara = ~df_steam_games.index.isin([indice_duplicado])

# Selecciona las filas con la máscara
""" df_unico = df_steam_games[mascara]
df_steam_games=df_unico """

filtered_rows = df_steam_games[df_steam_games['id'] == 612880]
filtered_rows

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer,free_gamers
102204,Bethesda Softworks,[Action],Wolfenstein II: The New Colossus,Wolfenstein II: The New Colossus,http://store.steampowered.com/app/612880/,2017-10-26,"[Action, FPS, Gore, Violent, Alternate History...",http://steamcommunity.com/app/612880/reviews/?...,"[Single-player, Steam Achievements, Full contr...",59.99,0.0,612880.0,Machine Games,0
102883,Bethesda Softworks,[Action],Wolfenstein II: The New Colossus,Wolfenstein II: The New Colossus,http://store.steampowered.com/app/612880/Wolfe...,2017-10-26,"[Action, FPS, Gore, Violent, Alternate History...",http://steamcommunity.com/app/612880/reviews/?...,"[Single-player, Steam Achievements, Full contr...",59.99,0.0,612880.0,Machine Games,0

In [70]:
""" elimnar el primer registro de las duplas encontradas id=NaN, se observa que el primer registro contiene muchos valores NaN, 
    además la etiqueta Developer solo está disponible en el segundo registro, se verificó que el develepoer Rocksteady Studios,Feral Interactive (Mac),
    encuentra en otros registros del archivo, se opta entonces por eliminar el primer registro. """

indice_duplicado = df_steam_games[df_steam_games['id'].isna()].index[0]

# Crear máscara booleana para excluir el primer duplicado (NaN)
mascara = ~df_steam_games.index.isin([indice_duplicado])

# Seleccionar filas con la máscara
df_unico = df_steam_games[mascara]

# Reemplazar df_steam_games con solo valores verdaderos de la máscara
df_steam_games = df_unico.copy()

# se corrobora que se elimina el registro
filtered_rows = df_steam_games[df_steam_games['id'].isna()]
filtered_rows

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer,free_gamers
119271,"Warner Bros. Interactive Entertainment, Feral ...","[Action, Adventure]",Batman: Arkham City - Game of the Year Edition,Batman: Arkham City - Game of the Year Edition,http://store.steampowered.com/app/200260,2012-09-07,"[Action, Open World, Batman, Adventure, Stealt...",None,"[Single-player, Steam Achievements, Steam Trad...",19.99,0.0,NaN,"Rocksteady Studios,Feral Interactive (Mac)",0

In [71]:
# Verificar que no tengan regsitros duplicados de la columna id con valores nulos

rows_with_nan_id = df_steam_games[df_steam_games['id'].isna()]
rows_with_nan_id

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer,free_gamers
119271,"Warner Bros. Interactive Entertainment, Feral ...","[Action, Adventure]",Batman: Arkham City - Game of the Year Edition,Batman: Arkham City - Game of the Year Edition,http://store.steampowered.com/app/200260,2012-09-07,"[Action, Open World, Batman, Adventure, Stealt...",None,"[Single-player, Steam Achievements, Steam Trad...",19.99,0.0,NaN,"Rocksteady Studios,Feral Interactive (Mac)",0

In [72]:
# Se eliminan todas las filas donde el 'id 'sea del tipo NaN por considerar que no es consistente tener estos casos
df_steam_games = df_steam_games.dropna(subset= 'id', axis = 0)
df_steam_games.shape

(32133, 14)

In [73]:
#
df_steam_games.rename(columns={'id':'item_id'}, inplace=True)
df_steam_games.head(4)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,item_id,developer,free_gamers
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,Kotoshiro,0
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",0.00,0.0,643980.0,Secret Level SRL,1
88312,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",0.00,0.0,670290.0,Poolians.com,1
88313,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,0.0,767400.0,彼岸领域,0

In [74]:
# Revisar la columna release_date si tiene valore nulos
print(df_steam_games['release_date'].isna().sum())
#print(df_steam_games['release_date'].isna())
df_steam_games.isna().sum()

2066

publisher       8051
genres          3282
app_name           1
title           2049
url                0
release_date    2066
tags             162
reviews_url        0
specs            669
price              0
early_access       0
item_id            0
developer       3298
free_gamers        0
dtype: int64

In [75]:
""" Tranformar la columna release_date que esla fecha de lanzamiento del juego, ya que hay una consulta que se solicita: 
    def best_developer_year( año : int ): Devuelve el top 3 de desarrolladores con juegos MÁS recomendados por usuarios para el año dado. 
   (reviews.recommend = True y comentarios positivos)

   Se decide transformar la columna release_date con el valor de año, pero hay que tener en cuenta que tiene valores (2066 valores nulos) y el formato 
   actual no es de tipo date, para el caso de valores nulos, se contemplan los criterios como que los nulos tienen una distribución aleatorios y 
   no tiene otras  columnas relacionadas; se  opta con actualziar los nulos con la mediana de las fechas. """

# Convertir la columna release_date a datetime
df_steam_games['release_date'] = pd.to_datetime(df_steam_games['release_date'], errors='coerce')

# Calcular la mediana de las fechas
# Convertir las fechas a enteros de 64 bits para calcular la mediana
median_timestamp = df_steam_games['release_date'].dropna().astype('int64').median()
median_date = pd.to_datetime(median_timestamp)

# Rellenar los valores nulos con la mediana de fechas
df_steam_games['release_date'] = df_steam_games['release_date'].fillna(median_date)

In [76]:

# Verificar el resultado
df_steam_games.head()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,item_id,developer,free_gamers
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,Kotoshiro,0
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",0.00,0.0,643980.0,Secret Level SRL,1
88312,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",0.00,0.0,670290.0,Poolians.com,1
88313,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,0.0,767400.0,彼岸领域,0
88314,None,None,Log Challenge,None,http://store.steampowered.com/app/773570/Log_C...,2016-04-18,"[Action, Indie, Casual, Sports]",http://steamcommunity.com/app/773570/reviews/?...,"[Single-player, Full controller support, HTC V...",2.99,0.0,773570.0,None,0

In [77]:
# Asegurando que la columna release_date esté con formato date, se procede a lo siguiente:
# Adicionar una columna 'year' que extrae el año de la columna 'release_date'
df_steam_games['year'] = df_steam_games['release_date'].dt.year

In [78]:
# Verificar el resultado
df_steam_games.head(3)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,item_id,developer,free_gamers,year
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,Kotoshiro,0,2018
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",0.00,0.0,643980.0,Secret Level SRL,1,2018
88312,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",0.00,0.0,670290.0,Poolians.com,1,2017

In [79]:
# Eliminar la columna 'release_date'
df_steam_games.drop(columns=['release_date'], inplace=True)

# Verificar el resultado
df_steam_games.head(2)

,publisher,genres,app_name,title,url,tags,reviews_url,specs,price,early_access,item_id,developer,free_gamers,year
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,Kotoshiro,0,2018
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",0.00,0.0,643980.0,Secret Level SRL,1,2018

In [80]:
""" Se observa que las columnas publisher, app_name, title, developer, tiene valores nulos, se actualiozan  
 con valores del tipo 'Inexistente'. """

actualizacion_de_nulos = ['publisher', 'app_name', 'title', 'developer']
df_steam_games[actualizacion_de_nulos].fillna('Inexistente')
df_steam_games.head()

,publisher,genres,app_name,title,url,tags,reviews_url,specs,price,early_access,item_id,developer,free_gamers,year
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,Kotoshiro,0,2018
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",0.00,0.0,643980.0,Secret Level SRL,1,2018
88312,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",0.00,0.0,670290.0,Poolians.com,1,2017
88313,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,0.0,767400.0,彼岸领域,0,2017
88314,None,None,Log Challenge,None,http://store.steampowered.com/app/773570/Log_C...,"[Action, Indie, Casual, Sports]",http://steamcommunity.com/app/773570/reviews/?...,"[Single-player, Full controller support, HTC V...",2.99,0.0,773570.0,None,0,2016

In [82]:
# la lista de generos se acomoda en filas unicas para cada tipo
df_steam_games = df_steam_games.explode('genres')
df_steam_games.head(3)

,publisher,genres,app_name,title,url,tags,reviews_url,specs,price,early_access,item_id,developer,free_gamers,year
88310,Kotoshiro,Action,Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,Kotoshiro,0,2018
88310,Kotoshiro,Casual,Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,Kotoshiro,0,2018
88310,Kotoshiro,Indie,Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,Kotoshiro,0,2018

In [83]:
# eliminar los item que son nulos
df_steam_games = df_steam_games.dropna(subset=['item_id'])
df_steam_games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74834 entries, 88310 to 120444
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     59241 non-null  object
 1   genres        71552 non-null  object
 2   app_name      74832 non-null  object
 3   title         72784 non-null  object
 4   url           74834 non-null  object
 5   tags          74650 non-null  object
 6   reviews_url   74834 non-null  object
 7   specs         73894 non-null  object
 8   price         74834 non-null  float64
 9   early_access  74834 non-null  float64
 10  item_id       74834 non-null  float64
 11  developer     71356 non-null  object
 12  free_gamers   74834 non-null  int32
 13  year          74834 non-null  int32
dtypes: float64(3), int32(2), object(9)
memory usage: 8.0+ MB

In [84]:
# Eliminamos las columnas que no se requieren para las consultas de la Api.

df_steam_games = df_steam_games.drop(['tags', 'specs', 'url', 'reviews_url', 'app_name', 'early_access'], axis=1)
df_steam_games.columns

Index(['publisher', 'genres', 'title', 'price', 'item_id', 'developer',
       'free_gamers', 'year'],
      dtype='object')

In [85]:
df_steam_games.shape

(74834, 8)

In [86]:
# Mostrar los nombres de las columnas disponibles del DataFrame df_steam_games
print(df_steam_games.columns)

# Mostrar sus tipos de datos
for column in df_steam_games.columns:
    print(f"Etiqueta: {column}, Tipo de dato: {df_steam_games[column].dtype}")

Index(['publisher', 'genres', 'title', 'price', 'item_id', 'developer',
       'free_gamers', 'year'],
      dtype='object')
Etiqueta: publisher, Tipo de dato: object
Etiqueta: genres, Tipo de dato: object
Etiqueta: title, Tipo de dato: object
Etiqueta: price, Tipo de dato: float64
Etiqueta: item_id, Tipo de dato: float64
Etiqueta: developer, Tipo de dato: object
Etiqueta: free_gamers, Tipo de dato: int32
Etiqueta: year, Tipo de dato: int32

In [87]:
#Terminado el proceso de ETL  steam_games, se procede a generar el archivo comprimido de tipo parquet.
#df_steam_games.to_parquet('../dataset/steam_games.parquet')
df_steam_games.to_parquet('dataset/df_steam_games.parquet', engine='pyarrow')

*************************************************************************
*             Procesos ETL para el archivo user_reviews                 *
*************************************************************************

In [14]:
# Carga del dataframe con el archivo user_reviews.json.gz
data = []
with gzip.open('dataset/user_reviews.json.gz', 'rt', encoding='utf-8') as file:
    for line in file:
        try:
            # Suponiendo que las líneas contienen datos JSON válidos
            json_data = eval(line.strip())  # Suponiendo una estructura JSON simple, use ast.literal_eval() para mayor seguridad
            data.append(json_data)
        except ValueError as e:
            print(f"Error en la línea: {line}")
            continue

df_user_reviews = pd.DataFrame(data)

In [15]:
# Observamos la estructura del archivo
df_user_reviews.info()
df_user_reviews.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25799 entries, 0 to 25798
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   25799 non-null  object
 1   user_url  25799 non-null  object
 2   reviews   25799 non-null  object
dtypes: object(3)
memory usage: 604.8+ KB

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

In [16]:
# Mostrar los nombres de las columnas disponibles del DataFrame user_reviews
print(df_user_reviews.columns)

# Mostrar sus tipos de datos
for column in df_user_reviews.columns:
    print(f"Etiqueta: {column}, Tipo de dato: {df_user_reviews[column].dtype}")

Index(['user_id', 'user_url', 'reviews'], dtype='object')
Etiqueta: user_id, Tipo de dato: object
Etiqueta: user_url, Tipo de dato: object
Etiqueta: reviews, Tipo de dato: object

In [17]:
# Verificar duplicados
tiene_duplicados = df_user_reviews['user_id'].duplicated().any()
duplicados = df_user_reviews[df_user_reviews['user_id'].duplicated()]['user_id']
print(duplicados)

456             bokkkbokkk
1182            ImSeriouss
1456     76561198062039159
1477     76561198045009232
1746          nitr0ticwolf
               ...
17819    76561198076474887
17916          yolofaceguy
18028    76561198075591109
18234    76561198092022514
18309       SuchGayMuchWow
Name: user_id, Length: 314, dtype: object

In [25]:
# Eliminar duplicados y mantener la primera aparición

df_user_reviews = df_user_reviews.drop_duplicates(subset=['user_id'], keep='first')

df_user_reviews

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

In [26]:
# Verificar duplicados
tiene_duplicados = df_user_reviews['user_id'].duplicated().any()
duplicados = df_user_reviews[df_user_reviews['user_id'].duplicated()]['user_id']
print(duplicados)

Series([], Name: user_id, dtype: object)

In [49]:
# Transformación de la columna reviews que se requiere para las consultas solicitadas

#con la funcion explode() se desglosa las listas de diccionarios en filas individuales
copia = df_user_reviews.explode('reviews') 

# concatena para que cada item del diccionario quede en columnas individuales.
copia = pd.concat([copia.drop(['reviews'],axis= 1), copia['reviews'].apply(pd.Series)], axis = 1) 
copia.rename(columns= {0: 'sentiment_analysis'}, inplace= True)

# se borra las columnas que no son necesarias
copia.drop(['funny', 'posted', 'last_edited', 'helpful'], axis=1, inplace=True) 
copia['sentiment_analysis'] = 0
copia.head()

,user_id,user_url,item_id,recommend,review,sentiment_analysis
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1250,True,Simple yet with great replayability. In my opi...,0
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,22200,True,It's unique and worth a playthrough.,0
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,43110,True,Great atmosphere. The gunplay can be a bit chu...,0
1,js41637,http://steamcommunity.com/id/js41637,251610,True,I know what you think when you see this title ...,0
1,js41637,http://steamcommunity.com/id/js41637,227300,True,For a simple (it's actually not all that simpl...,0

In [36]:
#Revision de valores nulos para 'item_id'

copia['item_id'].isna().value_counts()

item_id
False    58430
True        28
Name: count, dtype: int64

In [39]:
# Eliminar los nulos

copia = copia.dropna(subset= ['item_id'])
copia.shape
copia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58430 entries, 0 to 25798
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             58430 non-null  object
 1   user_url            58430 non-null  object
 2   item_id             58430 non-null  object
 3   recommend           58430 non-null  object
 4   review              58430 non-null  object
 5   sentiment_analysis  58430 non-null  int64
dtypes: int64(1), object(5)
memory usage: 3.1+ MB

In [40]:
"""  En la colunmna o etiqueta sentiment_analysis se encuentra con valore 0, se decide actualizar estos valores aplicando por medio de la 
 librearia textlob para análisis de sentimientos con NLP, que como se indica en la rubrica, se debe aplicar la siguiente escala:
 debe tomar el valor '0' si es malo, '1' si es neutral y '2' si es positivo. Lo anterior para facilitar el trabajo de los modelos
 de machine learning y el análisis de datos """
    
from textblob import TextBlob

# Aplicar el análisis de sentimiento directamente
copia['sentiment_analysis'] = copia['review'].apply(
    
    
    lambda review: 1 if not review else (lambda analisis: 0 if analisis.sentiment.polarity < 0 else (1 if analisis.sentiment.polarity == 0 else 2))(TextBlob(review))
)

copia

,user_id,user_url,item_id,recommend,review,sentiment_analysis
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1250,True,Simple yet with great replayability. In my opi...,2
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,22200,True,It's unique and worth a playthrough.,2
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,43110,True,Great atmosphere. The gunplay can be a bit chu...,2
1,js41637,http://steamcommunity.com/id/js41637,251610,True,I know what you think when you see this title ...,2
1,js41637,http://steamcommunity.com/id/js41637,227300,True,For a simple (it's actually not all that simpl...,0
...,...,...,...,...,...,...
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,70,True,a must have classic from steam definitely wort...,2
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,362890,True,this game is a perfect remake of the original ...,2
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,273110,True,had so much fun plaing this and collecting res...,2
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,730,True,:D,2
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,440,True,so much fun :D,2

In [41]:
# Eliminar columnas innecesarias
copia = copia.drop(columns=['user_url', 'review'])
copia

                 user_id item_id recommend  sentiment_analysis
0      76561197970982479    1250      True                   2
0      76561197970982479   22200      True                   2
0      76561197970982479   43110      True                   2
1                js41637  251610      True                   2
1                js41637  227300      True                   0
...                  ...     ...       ...                 ...
25797  76561198312638244      70      True                   2
25797  76561198312638244  362890      True                   2
25798        LydiaMorley  273110      True                   2
25798        LydiaMorley     730      True                   2
25798        LydiaMorley     440      True                   2

[58430 rows x 4 columns]

In [42]:
# Finalizando, se exportar el dataset copia a formato parquet
copia.to_parquet('dataset/df_user_reviews.parquet', engine='pyarrow')

*************************************************************************
*             Procesos ETL para el archivo user_items                   *
*************************************************************************

In [1]:
import pandas as pd
import gzip
import ast

In [10]:
# Carga del dataframe con el archivo users_items.json.gz
data = []
with gzip.open('dataset/users_items.json.gz', 'rt', encoding='utf-8') as file:
    for line in file:
        try:
            json_data = ast.literal_eval(line)
            data.append(json_data)
        except ValueError as e:
            print(f"Error en la línea: {line}")
            continue
df_users_items = pd.DataFrame(data)

In [11]:
# Observamos la estructura del archivo
df_users_items.info()
df_users_items.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88310 entries, 0 to 88309
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      88310 non-null  object
 1   items_count  88310 non-null  int64
 2   steam_id     88310 non-null  object
 3   user_url     88310 non-null  object
 4   items        88310 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.4+ MB

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."

In [12]:
print(df_users_items['items'].dtype)

object

In [13]:
# En la La columna items esta compuesta de dicconarios por lo que se procede a normalziar de forma de obtener una columna por cada clave de ese diccionario
df_items = pd.json_normalize(data, record_path=['items'], meta=['steam_id','items_count','user_id', 'user_url'] )
df_items

,item_id,item_name,playtime_forever,playtime_2weeks,steam_id,items_count,user_id,user_url
0,10,Counter-Strike,6,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
1,20,Team Fortress Classic,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
2,30,Day of Defeat,7,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
3,40,Deathmatch Classic,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
4,50,Half-Life: Opposing Force,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
...,...,...,...,...,...,...,...,...
5153204,346330,BrainBread 2,0,0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153205,373330,All Is Dust,0,0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153206,388490,One Way To Die: Steam Edition,3,3,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153207,521570,You Have 10 Seconds 2,4,4,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153208,519140,Minds Eyes,3,3,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...

In [14]:
# Verificamos datos nulos
df_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5153209 entries, 0 to 5153208
Data columns (total 8 columns):
 #   Column            Dtype
---  ------            -----
 0   item_id           object
 1   item_name         object
 2   playtime_forever  int64
 3   playtime_2weeks   int64
 4   steam_id          object
 5   items_count       object
 6   user_id           object
 7   user_url          object
dtypes: int64(2), object(6)
memory usage: 314.5+ MB

In [15]:
# Verificar duplicados
duplicados = df_items.loc[df_items.duplicated()]
duplicados

,item_id,item_name,playtime_forever,playtime_2weeks,steam_id,items_count,user_id,user_url
164294,20,Team Fortress Classic,5,0,76561198084006094,109,Nikiad,http://steamcommunity.com/id/Nikiad
164295,50,Half-Life: Opposing Force,0,0,76561198084006094,109,Nikiad,http://steamcommunity.com/id/Nikiad
164296,70,Half-Life,0,0,76561198084006094,109,Nikiad,http://steamcommunity.com/id/Nikiad
164297,130,Half-Life: Blue Shift,0,0,76561198084006094,109,Nikiad,http://steamcommunity.com/id/Nikiad
164298,220,Half-Life 2,198,0,76561198084006094,109,Nikiad,http://steamcommunity.com/id/Nikiad
...,...,...,...,...,...,...,...,...
4898223,213670,South Park™: The Stick of Truth™,725,0,76561198080057659,39,76561198080057659,http://steamcommunity.com/profiles/76561198080...
4898224,221910,The Stanley Parable,53,0,76561198080057659,39,76561198080057659,http://steamcommunity.com/profiles/76561198080...
4898225,261030,The Walking Dead: Season Two,253,0,76561198080057659,39,76561198080057659,http://steamcommunity.com/profiles/76561198080...
4898226,273110,Counter-Strike Nexon: Zombies,0,0,76561198080057659,39,76561198080057659,http://steamcommunity.com/profiles/76561198080...
4898227,730,Counter-Strike: Global Offensive,0,0,76561198080057659,39,76561198080057659,http://steamcommunity.com/profiles/76561198080...

In [16]:
# Al ver 59104 duplicados se procede a eliminar 
df_items = df_items.drop_duplicates(keep='first')
df_items

,item_id,item_name,playtime_forever,playtime_2weeks,steam_id,items_count,user_id,user_url
0,10,Counter-Strike,6,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
1,20,Team Fortress Classic,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
2,30,Day of Defeat,7,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
3,40,Deathmatch Classic,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
4,50,Half-Life: Opposing Force,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
...,...,...,...,...,...,...,...,...
5153204,346330,BrainBread 2,0,0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153205,373330,All Is Dust,0,0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153206,388490,One Way To Die: Steam Edition,3,3,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153207,521570,You Have 10 Seconds 2,4,4,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153208,519140,Minds Eyes,3,3,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...

In [17]:
# Se elimina playtime_2weeks por repetir en playtime_forever
df_items = df_items.drop('playtime_2weeks', axis=1)
df_items

,item_id,item_name,playtime_forever,steam_id,items_count,user_id,user_url
0,10,Counter-Strike,6,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
1,20,Team Fortress Classic,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
2,30,Day of Defeat,7,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
3,40,Deathmatch Classic,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
4,50,Half-Life: Opposing Force,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
...,...,...,...,...,...,...,...
5153204,346330,BrainBread 2,0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153205,373330,All Is Dust,0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153206,388490,One Way To Die: Steam Edition,3,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153207,521570,You Have 10 Seconds 2,4,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153208,519140,Minds Eyes,3,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...

In [89]:
#Seleccionar aleatoriamente 50.000 datos del DataFrame
#Final_Recortado = final_total.sample(n=50000, random_state=123)

In [18]:
# Finalizando, se exportar el dataset copia a formato parquet
df_items.to_parquet('dataset/df_user_items_final.parquet', engine='pyarrow')

*********************************************************
*                     DataSet Final                     *
*********************************************************

In [ ]:
# se hace merge del dataframe de steam-games y los reviews de usuarios
df_Primera_Mezcla = pd.merge(df_steam_games, copia, on = 'item_id' )

# se hace merge del dataframe anterior con el de los user-items
df_Definitvo = pd.merge(df_Primera_Mezcla, Final_Recortado, on = 'user_id')

# Se genera la combinación para exportacion a formato parquet
df_Definitvo.to_parquet('dataset/df_defitivo.parquet', engine='pyarrow')

In [90]:
 # Filtrar las reviews del usuario
    user_reviews_filtered = user_reviews[user_reviews['user_id'] == user_id]
    
    # Unir los datos de las reviews del usuario con los datos de los juegos
    user_data = pd.merge(user_reviews_filtered, steam_gamer, on='item_id')
    
    # Calcular la cantidad de dinero gastado por el usuario
    total_spent = user_data['price'].sum()
    
    # Calcular la cantidad de items
    total_items = user_data['item_id'].nunique()
    
    # Calcular el porcentaje de recomendación
    total_recommendations = user_data['recommend'].sum()
    percentage_recommend = (total_recommendations / total_items) * 100 if total_items > 0 else 0
    
    # Crear el diccionario de resultado
    result = {
        'Total Spent': total_spent,
        'Recommendation Percentage': percentage_recommend,
        'Total Items': total_items
    }
    
    return result

# Ejemplo de uso
print(userdata('user1'))

In [91]:
 # Filtrar las reviews del usuario
    user_reviews_filtered = user_reviews[user_reviews['user_id'] == user_id]
    
    # Unir los datos de las reviews del usuario con los datos de los juegos
    user_data = pd.merge(user_reviews_filtered, steam_gamer, on='item_id')
    
    # Calcular la cantidad de dinero gastado por el usuario
    total_spent = user_data['price'].sum()
    
    # Calcular la cantidad de items
    total_items = user_data['item_id'].nunique()
    
    # Calcular el porcentaje de recomendación
    total_recommendations = user_data['recommend'].sum()
    percentage_recommend = (total_recommendations / total_items) * 100 if total_items > 0 else 0
    
    # Crear el diccionario de resultado
    result = {
        'Total Spent': total_spent,
        'Recommendation Percentage': percentage_recommend,
        'Total Items': total_items
    }
    
    return result

# Ejemplo de uso
print(userdata('user1'))

In [92]:
df_games.head(2)

,publisher,genres,title,price,item_id,developer,free_gamers,year
88310,Kotoshiro,Action,Lost Summoner Kitty,4.99,761140.0,Kotoshiro,0,2018
88310,Kotoshiro,Casual,Lost Summoner Kitty,4.99,761140.0,Kotoshiro,0,2018

In [49]:
#df_games['year'] = df_games['release_date'].dt.year

#df['release_date'] = df['release_date'].apply(anio)

# Asegúrate de que la columna release_date sea de tipo datetime
df_games['release_date'] = pd.to_datetime(df_games['release_date'], errors='coerce')

# Extrae el año de la columna release_date
df_games['year'] = df_games['release_date'].dt.year

In [ ]:
import re
def anio(cadena:str) -> str|None:
    """
    La función anio toma la cadena de texto y devuelve un año en formato entero
    o None si la cadena está vacía.
    """
    patron = r'(\d{4})'
    match = re.search(patron, str(cadena))
    if match:
        return match.group(1)
    else:
        return None
df['release_date'] = df['release_date'].apply(anio)

In [58]:
df_games.head(10)

,genres,release_date,price,early_access,item_id,publisher,app_name,title,developer,year
0,Action,2018-01-04,4.99,0.0,761140.0,Inexistente,Inexistente,Inexistente,Inexistente,2018.0
0,Casual,2018-01-04,4.99,0.0,761140.0,Inexistente,Inexistente,Inexistente,Inexistente,2018.0
0,Indie,2018-01-04,4.99,0.0,761140.0,Inexistente,Inexistente,Inexistente,Inexistente,2018.0
0,Simulation,2018-01-04,4.99,0.0,761140.0,Inexistente,Inexistente,Inexistente,Inexistente,2018.0
0,Strategy,2018-01-04,4.99,0.0,761140.0,Inexistente,Inexistente,Inexistente,Inexistente,2018.0
1,Free to Play,2018-01-04,0.00,0.0,643980.0,Inexistente,Inexistente,Inexistente,Inexistente,2018.0
1,Indie,2018-01-04,0.00,0.0,643980.0,Inexistente,Inexistente,Inexistente,Inexistente,2018.0
1,RPG,2018-01-04,0.00,0.0,643980.0,Inexistente,Inexistente,Inexistente,Inexistente,2018.0
1,Strategy,2018-01-04,0.00,0.0,643980.0,Inexistente,Inexistente,Inexistente,Inexistente,2018.0
2,Casual,2017-07-24,0.00,0.0,670290.0,Inexistente,Inexistente,Inexistente,Inexistente,2017.0

In [69]:
df_filtered = df_games[df_games['developer'] != 'Inexistente']
print(df_filtered)

              publisher                                             genres  \
0             Kotoshiro      [Action, Casual, Indie, Simulation, Strategy]
1      Making Fun, Inc.               [Free to Play, Indie, RPG, Strategy]
2          Poolians.com  [Casual, Free to Play, Indie, Simulation, Sports]
3                  彼岸领域                        [Action, Adventure, Casual]
4                  None                                               None
...                 ...                                                ...
32130   Ghost_RUS Games              [Casual, Indie, Simulation, Strategy]
32131            Sacada                          [Casual, Indie, Strategy]
32132      Laush Studio                        [Indie, Racing, Simulation]
32133          SIXNAILS                                    [Casual, Indie]
32134              None                                               None

                       app_name                     title  \
0           Lost Summoner Kitty       Lost Summoner Kitty
1                     Ironbound                 Ironbound
2       Real Pool 3D - Poolians   Real Pool 3D - Poolians
3                       弹炸人2222                   弹炸人2222
4                 Log Challenge                      None
...                         ...                       ...
32130            Colony On Mars            Colony On Mars
32131  LOGistICAL: South Africa  LOGistICAL: South Africa
32132             Russian Roads             Russian Roads
32133       EXIT 2 - Directions       EXIT 2 - Directions
32134               Maze Run VR                      None

                                                     url release_date  \
0      http://store.steampowered.com/app/761140/Lost_...   2018-01-04
1      http://store.steampowered.com/app/643980/Ironb...   2018-01-04
2      http://store.steampowered.com/app/670290/Real_...   2017-07-24
3         http://store.steampowered.com/app/767400/2222/   2017-12-07
4      http://store.steampowered.com/app/773570/Log_C...         None
...                                                  ...          ...
32130  http://store.steampowered.com/app/773640/Colon...   2018-01-04
32131  http://store.steampowered.com/app/733530/LOGis...   2018-01-04
32132  http://store.steampowered.com/app/610660/Russi...   2018-01-04
32133  http://store.steampowered.com/app/658870/EXIT_...   2017-09-02
32134  http://store.steampowered.com/app/681550/Maze_...         None

                                                    tags  \
0          [Strategy, Action, Indie, Casual, Simulation]
1      [Free to Play, Strategy, Indie, RPG, Card Game...
2      [Free to Play, Simulation, Sports, Casual, Ind...
3                            [Action, Adventure, Casual]
4                        [Action, Indie, Casual, Sports]
...                                                  ...
32130              [Strategy, Indie, Casual, Simulation]
32131                          [Strategy, Indie, Casual]
32132                        [Indie, Simulation, Racing]
32133  [Indie, Casual, Puzzle, Singleplayer, Atmosphe...
32134  [Early Access, Adventure, Indie, Action, Simul...

                                             reviews_url  \
0      http://steamcommunity.com/app/761140/reviews/?...
1      http://steamcommunity.com/app/643980/reviews/?...
2      http://steamcommunity.com/app/670290/reviews/?...
3      http://steamcommunity.com/app/767400/reviews/?...
4      http://steamcommunity.com/app/773570/reviews/?...
...                                                  ...
32130  http://steamcommunity.com/app/773640/reviews/?...
32131  http://steamcommunity.com/app/733530/reviews/?...
32132  http://steamcommunity.com/app/610660/reviews/?...
32133  http://steamcommunity.com/app/658870/reviews/?...
32134  http://steamcommunity.com/app/681550/reviews/?...

                                                   specs         price  \
0                                        [Single-player]          4.99
1      [Single-player, Multi-player, Online Multi-Pla...  Free To Play
2      [Single-player, Multi-player, Online Multi-Pla...  Free to Play
3                                        [Single-player]          0.99
4      [Single-player, Full controller support, HTC V...          2.99
...                                                  ...           ...
32130                [Single-player, Steam Achievements]          1.99
32131  [Single-player, Steam Achievements, Steam Clou...          4.99
32132  [Single-player, Steam Achievements, Steam Trad...          1.99
32133   [Single-player, Steam Achievements, Steam Cloud]          4.99
32134  [Single-player, Stats, Steam Leaderboards, HTC...          4.99

       early_access        id                 developer
0               0.0  761140.0                 Kotoshiro
1               0.0  643980.0          Secret Level SRL
2               0.0  670290.0              Poolians.com
3               0.0  767400.0                      彼岸领域
4               0.0  773570.0                      None
...             ...       ...                       ...
32130           0.0  773640.0        Nikita "Ghost_RUS"
32131           0.0  733530.0                    Sacada
32132           0.0  610660.0  Laush Dmitriy Sergeevich
32133           0.0  658870.0             xropi,stev3ns
32134           1.0  681550.0                      None

[32135 rows x 13 columns]

In [94]:

df_games.head(1)

,publisher,genres,title,price,item_id,developer,free_gamers,year
88310,Kotoshiro,Action,Lost Summoner Kitty,4.99,761140.0,Kotoshiro,0,2018

In [93]:
dasarrollador = "Poolians.com"

# Filtrar y combinar los datasets
contenido_free_items = df_games[['price', 'year', 'developer', 'item_id', 'free_gamers']]
df_price_items = df_items[['user_id', 'item_id']]

# Filtrar por el desarrollador dado
df_filtered = contenido_free_items[contenido_free_items['developer'] == dasarrollador]

# Merge de los datasets basado en 'item_id'
df_merged = pd.merge(df_filtered, df_price_items, on='item_id', how='left')

# Crear una columna para identificar contenido free
df_merged['is_free'] = df_merged['price'].apply(lambda x: x == 0 or x == 'Free To Play')

# Agrupar por año
grouped = df_merged.groupby('year').agg(
    total_items=('item_id', 'size'),
    free_items=('is_free', 'sum')
).reset_index()

# Calcular el porcentaje de contenido free
grouped['free_percentage'] = (grouped['free_items'] / grouped['total_items'] * 100).round(2)

# Renombrar las columnas para coincidir con el ejemplo
grouped = grouped.rename(columns={
    'release_year': 'Año',
    'total_items': 'Cantidad de Items',
    'free_percentage': 'Contenido Free'
})
    
grouped#.to_dict(orient='records')

ValueError: You are trying to merge on float64 and object columns for key 'item_id'. If you wish to proceed you should use pd.concat

In [109]:
# Relacionar los developers del dataset
free_games = df_games['price']==0

print(free_games.count())
free_games.head()

df_free_games = df_games[df_games['price'] == 0]
df_free_games

74834

,publisher,genres,title,price,item_id,developer,free_gamers,year
88311,"Making Fun, Inc.",Free to Play,Ironbound,0.0,643980.0,Secret Level SRL,1,2018
88311,"Making Fun, Inc.",Indie,Ironbound,0.0,643980.0,Secret Level SRL,1,2018
88311,"Making Fun, Inc.",RPG,Ironbound,0.0,643980.0,Secret Level SRL,1,2018
88311,"Making Fun, Inc.",Strategy,Ironbound,0.0,643980.0,Secret Level SRL,1,2018
88312,Poolians.com,Casual,Real Pool 3D - Poolians,0.0,670290.0,Poolians.com,1,2017
...,...,...,...,...,...,...,...,...
120435,Retro Army Limited,Action,The spy who shot me™,0.0,771810.0,Retro Army Limited,0,2018
120435,Retro Army Limited,Adventure,The spy who shot me™,0.0,771810.0,Retro Army Limited,0,2018
120435,Retro Army Limited,Indie,The spy who shot me™,0.0,771810.0,Retro Army Limited,0,2018
120438,Riviysky,Casual,BAE 2,0.0,769330.0,Riviysky,0,2018
120438,Riviysky,Indie,BAE 2,0.0,769330.0,Riviysky,0,2018

In [111]:
# Relacionar los developers del dataset
unique_developers = df_games['developer'].unique()

print(unique_developers)

['Kotoshiro' 'Secret Level SRL' 'Poolians.com' ...
 'Oscar Ortigueira López,OrtiGames/OrtiSoft' 'INGAME' 'Bidoniera Games']

In [121]:
desarrollador = "Kotoshiro"

# Filtrar el DataFrame df_games por el desarrollador
df_filtered = df_games[df_games['developer'] == desarrollador]

# Agrupar por año
grouped = df_filtered.groupby('year').agg(
        cantidad_items=('item_id', 'count'),
        contenido_free=('free_gamers', lambda x: (x.sum() / len(x)) * 100)
    ).reset_index()

grouped.columns = ['Año', 'Cantidad de Items', 'Contenido Free']

grouped.to_dict(orient='records') 


print(grouped)

    Año  Cantidad de Items  Contenido Free
0  2018                  5             0.0

In [113]:
desarrollador = "INGAME"

# Filtrar el DataFrame df_games por el desarrollador
df_filtered = df_games[df_games['developer'] == desarrollador]

# Crear una columna para indicar si el juego es gratuito (price == 0)
df_filtered['free_gamers'] = (df_filtered['price'] == 0).astype(int)

# Agrupar por año y calcular la cantidad de items y el porcentaje de contenido free
grouped = df_filtered.groupby('year').agg(
    Cantidad_de_Items=('item_id', 'count'),
    Contenido_Free=('free_gamers', lambda x: (x.sum() / len(x)) * 100)
).reset_index()

# Renombrar las columnas para la salida deseada
grouped.columns = ['Año', 'Cantidad de Items', 'Contenido Free']

print(grouped)

    Año  Cantidad de Items  Contenido Free
0  2018                  2             0.0

C:\Users\juank\AppData\Local\Temp\ipykernel_3852\3328047194.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['free_gamers'] = (df_filtered['price'] == 0).astype(int)

In [122]:
""" 
**************************************************************************************************************************
*                                               Codigo para implementar el primer EndPoint                               *
**************************************************************************************************************************
 """

desarrollador = "INGAME"

# Filtrar el DataFrame df_games por el desarrollador
df_filtered = df_games[df_games['developer'] == desarrollador]

# Crear una columna para indicar si el juego es gratuito (price == 0)
df_filtered['free_gamers'] = (df_filtered['price'] == 0).astype(int)

# Agrupar por año y calcular la cantidad de items y el porcentaje de contenido free
grouped = df_filtered.groupby('year').agg(
    Cantidad_de_Items=('item_id', 'count'),
    Contenido_Free=('free_gamers', lambda x: (x.sum() / len(x)) * 100)
).reset_index()

# Renombrar las columnas para la salida deseada
grouped.columns = ['Año', 'Cantidad de Items', 'Contenido Free']

# Convertir el DataFrame agrupado a un diccionario orientado por registros
result_dict = grouped.to_dict(orient='records')

result_dict

C:\Users\juank\AppData\Local\Temp\ipykernel_3852\4085902731.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['free_gamers'] = (df_filtered['price'] == 0).astype(int)

[{'Año': 2018, 'Cantidad de Items': 2, 'Contenido Free': 0.0}]

*******************************************************
*******************************************************
*******************************************************

In [48]:
import pandas as pd

#steam_gamer = pd.read_parquet('Dataset\df_steam_games.parquet') 
user_reviews = pd.read_parquet('Dataset\df_user_reviews.parquet')

user_reviews.head()

<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
C:\Users\juank\AppData\Local\Temp\ipykernel_12852\2408411247.py:4: SyntaxWarning: invalid escape sequence '\d'
  user_reviews = pd.read_parquet('Dataset\df_user_reviews.parquet')

             user_id item_id  recommend  sentiment_analysis
0  76561197970982479    1250       True                   2
0  76561197970982479   22200       True                   2
0  76561197970982479   43110       True                   2
1            js41637  251610       True                   2
1            js41637  227300       True                   0

In [6]:
user_id=76561197970982479

# Filtrar las reviews del usuario
user_reviews_filtered = user_reviews[user_reviews['user_id'] == user_id]

# Unir los datos de las reviews del usuario con los datos de los juegos
user_data = pd.merge(user_reviews_filtered, steam_gamer, on='item_id')

# Calcular la cantidad de dinero gastado por el usuario
total_spent = user_data['price'].sum()

# Calcular la cantidad de items
total_items = user_data['item_id'].nunique()

# Calcular el porcentaje de recomendación
total_recommendations = user_data['recommend'].sum()
percentage_recommend = (total_recommendations / total_items) * 100 if total_items > 0 else 0

# Crear el diccionario de resultado
result = {
    'Total Spent': total_spent,
    'Recommendation Percentage': percentage_recommend,
    'Total Items': total_items
}

print(result)

{'Total Spent': 0.0, 'Recommendation Percentage': 0, 'Total Items': 0}

In [ ]:
df_user_playtime = df_items[['playtime_forever', 'user_id', 'item_id']]
df_user_playtime.head()

In [10]:
import pandas as pd

steam_gamer = pd.read_parquet('Dataset\df_steam_games.parquet') 
user_items = pd.read_parquet('Dataset\df_user_items.parquet')

<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
C:\Users\juank\AppData\Local\Temp\ipykernel_12852\3640711577.py:3: SyntaxWarning: invalid escape sequence '\d'
  steam_gamer = pd.read_parquet('Dataset\df_steam_games.parquet')
C:\Users\juank\AppData\Local\Temp\ipykernel_12852\3640711577.py:4: SyntaxWarning: invalid escape sequence '\d'
  user_items = pd.read_parquet('Dataset\df_user_items.parquet')

In [11]:
steam_gamer

,publisher,genres,title,price,item_id,developer,free_gamers,year
88310,Kotoshiro,Action,Lost Summoner Kitty,4.99,761140.0,Kotoshiro,0,2018
88310,Kotoshiro,Casual,Lost Summoner Kitty,4.99,761140.0,Kotoshiro,0,2018
88310,Kotoshiro,Indie,Lost Summoner Kitty,4.99,761140.0,Kotoshiro,0,2018
88310,Kotoshiro,Simulation,Lost Summoner Kitty,4.99,761140.0,Kotoshiro,0,2018
88310,Kotoshiro,Strategy,Lost Summoner Kitty,4.99,761140.0,Kotoshiro,0,2018
...,...,...,...,...,...,...,...,...
120442,Laush Studio,Racing,Russian Roads,1.99,610660.0,Laush Dmitriy Sergeevich,0,2018
120442,Laush Studio,Simulation,Russian Roads,1.99,610660.0,Laush Dmitriy Sergeevich,0,2018
120443,SIXNAILS,Casual,EXIT 2 - Directions,4.99,658870.0,"xropi,stev3ns",0,2017
120443,SIXNAILS,Indie,EXIT 2 - Directions,4.99,658870.0,"xropi,stev3ns",0,2017
120444,None,None,None,4.99,681550.0,None,0,2016

In [12]:
user_items

                   user_id  items_count  playtime_forever
837306       hailhitler999          133               5.0
2110547          artista69          124               0.0
1042154  76561198059748528          110             228.0
521620                ED13         1306             166.0
4455732  76561198051352493           79              38.0
...                    ...          ...               ...
3181023            drAlMac          258              82.0
1942315  76561198101219872           46               0.0
3283977  76561198057283425          296               0.0
1848198       sheriffgamer          441              29.0
864001             defox01          379             238.0

[50000 rows x 3 columns]

**********************************************************************************************************
*              Modelo para developer_reviews_analysis( desarrolladora : str )     Cuarto EndPoint        *
**********************************************************************************************************

In [122]:
# Carga del dataframe con el archivo steam_games.json.gz
df_reviews = pd.read_parquet('Dataset/df_user_reviews_final.parquet') 
df_reviews.head(3)

,user_id,user_url,reviews_item_id,reviews_helpful,reviews_recommend,reviews,reviews_date,sentiment_analysis
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,2011-11-05,2
1,js41637,http://steamcommunity.com/id/js41637,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,2014-06-24,2
3,doctr,http://steamcommunity.com/id/doctr,250320,2 of 2 people (100%) found this review helpful,True,This game... is so fun. The fight sequences ha...,2013-10-14,2

In [123]:
# Revisamos las columnas de reviews
df_reviews.columns

Index(['user_id', 'user_url', 'reviews_item_id', 'reviews_helpful',
       'reviews_recommend', 'reviews', 'reviews_date', 'sentiment_analysis'],
      dtype='object')

In [124]:
# Eliminamos las columnas que no se requieren
df_reviews.drop(columns=[ 'user_id', 'user_url', 'reviews_helpful', 'reviews', 'reviews_date'], inplace=True)
df_reviews

       reviews_item_id  reviews_recommend  sentiment_analysis
0                 1250               True                   2
1               251610               True                   2
3               250320               True                   2
4               211420               True                   1
5               249130               True                   0
...                ...                ...                 ...
231901          332310               True                   0
231919             440               True                   2
231921          304930               True                   0
232047          265630               True                   2
232127          304050               True                   2

[48909 rows x 3 columns]

In [125]:
# Verificamos el estado de la data
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48909 entries, 0 to 232127
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   reviews_item_id     48909 non-null  object
 1   reviews_recommend   48909 non-null  bool
 2   sentiment_analysis  48909 non-null  int64
dtypes: bool(1), int64(1), object(1)
memory usage: 1.2+ MB

In [126]:
# Carga del dataframe con el archivo steam_games.json.gz
df_steam_games = pd.read_json('dataset/steam_games.json.gz',lines=True,compression='gzip')
df_steam_games.drop(columns=['publisher', 'genres', 'app_name', 'title', 'url', 'release_date',  'tags', 'reviews_url', 'specs', 'price', 'early_access'], inplace=True)
df_steam_games = df_steam_games.dropna(how='all')
df_steam_games.head(3)

             id         developer
88310  761140.0         Kotoshiro
88311  643980.0  Secret Level SRL
88312  670290.0      Poolians.com

In [127]:
# Verificar si hay valores nulos en el dataframe
null_counts = df_steam_games.isnull().sum()

# Imprimir el conteo de valores nulos por columna
print(null_counts)

id              1
developer    3298
dtype: int64

In [128]:
# Eliminamos los registros que contiene datos nulos
df_steam_games = df_steam_games.dropna()

# Verificar si hay valores nulos en el dataframe
null_counts = df_steam_games.isnull().sum()

# Imprimir el conteo de valores nulos por columna
print(null_counts)

id           0
developer    0
dtype: int64

In [129]:
# Verificar si hay valores nulos en el dataframe
null_counts = df_reviews.isnull().sum()

# Imprimir el conteo de valores nulos por columna
print(null_counts)

reviews_item_id       0
reviews_recommend     0
sentiment_analysis    0
dtype: int64

In [130]:
# Revisamos la data
df_reviews.head()

  reviews_item_id  reviews_recommend  sentiment_analysis
0            1250               True                   2
1          251610               True                   2
3          250320               True                   2
4          211420               True                   1
5          249130               True                   0

In [131]:
# Revisamos la data
df_steam_games.head()

             id            developer
88310  761140.0            Kotoshiro
88311  643980.0     Secret Level SRL
88312  670290.0         Poolians.com
88313  767400.0                 彼岸领域
88315  772540.0  Trickjump Games Ltd

In [132]:
# Convertir las columnas de unión al mismo tipo de datos
df_reviews['reviews_item_id'] = df_reviews['reviews_item_id'].astype(float)
df_steam_games['id'] = df_steam_games['id'].astype(float)

# Verificar que las conversiones fueron exitosas
print(df_reviews['reviews_item_id'].dtype)
print(df_steam_games['id'].dtype)

float64
float64

In [133]:
# Revisamos la data
df_reviews.head()

   reviews_item_id  reviews_recommend  sentiment_analysis
0           1250.0               True                   2
1         251610.0               True                   2
3         250320.0               True                   2
4         211420.0               True                   1
5         249130.0               True                   0

In [134]:
# Revisamos la data
df_steam_games.head()

             id            developer
88310  761140.0            Kotoshiro
88311  643980.0     Secret Level SRL
88312  670290.0         Poolians.com
88313  767400.0                 彼岸领域
88315  772540.0  Trickjump Games Ltd

In [135]:
# Unir los datasets
merged_df = df_reviews.merge(df_steam_games, left_on='reviews_item_id', right_on='id')

In [136]:
# Revisamos la data
merged_df

,reviews_item_id,reviews_recommend,sentiment_analysis,id,developer
0,1250.0,True,2,1250.0,Tripwire Interactive
1,250320.0,True,2,250320.0,Telltale Games
2,211420.0,True,1,211420.0,FromSoftware
3,249130.0,True,0,249130.0,Traveller's Tales
4,4000.0,True,1,4000.0,Facepunch Studios
...,...,...,...,...,...
41373,332310.0,True,0,332310.0,"TT Games,Traveller's Tales"
41374,440.0,True,2,440.0,Valve
41375,304930.0,True,0,304930.0,Smartly Dressed Games
41376,265630.0,True,2,265630.0,Fistful of Frags Team
41377,304050.0,True,2,304050.0,Trion Worlds

In [137]:
# Revisamos las columnas
merged_df.columns

Index(['reviews_item_id', 'reviews_recommend', 'sentiment_analysis', 'id',
       'developer'],
      dtype='object')

In [138]:
# Eliminamos columnas que no son necesarias para la funcion de calculo
merged_df.drop(columns=['reviews_item_id', 'sentiment_analysis', 'id'], inplace=True)

In [143]:
# Verificamos la data
merged_df.head()

   reviews_recommend             developer
0               True  Tripwire Interactive
1               True        Telltale Games
2               True          FromSoftware
3               True     Traveller's Tales
4               True     Facepunch Studios

In [141]:
# Analizamos la data
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41378 entries, 0 to 41377
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   reviews_recommend  41378 non-null  bool
 1   developer          41378 non-null  object
dtypes: bool(1), object(1)
memory usage: 363.8+ KB

In [144]:
# Almacenar este dataset resultante para la ejección del cuarto EndPoint
merged_df.to_parquet('dataset/df_reseñas_desarrollador.parquet', engine='pyarrow')

In [149]:
# Se carga el dataset para la ejecución del EndPont 
merged_df = pd.read_parquet('Dataset\df_reseñas_desarrollador.parquet') 
merged_df.head()

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\juank\AppData\Local\Temp\ipykernel_13688\804127027.py:2: SyntaxWarning: invalid escape sequence '\d'
  merged_df = pd.read_parquet('Dataset\df_reseñas_desarrollador.parquet')

   reviews_recommend             developer
0               True  Tripwire Interactive
1               True        Telltale Games
2               True          FromSoftware
3               True     Traveller's Tales
4               True     Facepunch Studios

# Elaboramos la base de la funcion para la API

In [151]:
# Se carga el dataset para la ejecución del EndPont 
merged_df = pd.read_parquet('Dataset\df_reseñas_desarrollador.parquet') 

desarrolladora='Smartly Dressed Games'

# Filtrar por desarrolladora
filtered_df = merged_df[merged_df['developer'] == desarrolladora]

# Contar las reseñas positivas y negativas
positive_reviews = filtered_df[filtered_df['reviews_recommend'] == True].shape[0]
negative_reviews = filtered_df[filtered_df['reviews_recommend'] == False].shape[0]
# Crear el diccionario de resultados
result = {desarrolladora: {'Negative': negative_reviews, 'Positive': positive_reviews}}
print(result)

{'Smartly Dressed Games': {'Negative': 71, 'Positive': 841}}

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\juank\AppData\Local\Temp\ipykernel_13688\3790712918.py:2: SyntaxWarning: invalid escape sequence '\d'
  merged_df = pd.read_parquet('Dataset\df_reseñas_desarrollador.parquet')